
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.jdfgjy{         
font-family: 'Sigmar', cursive;}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sigmar&display=swap');
.cr709 { 
font-size: 'sigmar', cursive}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sigmar&display=swap');
.bola07 { 
font-style: 'sigmar', cursive}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.real07{         
font-weight: 'Sigmar', cursive;}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.al07{         
font-kerning: 'Sigmar', cursive;}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.cristiano7{         
font-display: 'Sigmar', cursive;}